

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.lexend {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}



:root{
    --dark-blue-main: hsl(233, 47%, 7%);
    --dark-saturade-card:  hsl(244, 38%, 16%);
    --soft-violet-accent: hsl(277, 64%, 61%);
    --white: hsl(0, 0%, 100%);
    --white-p: hsla(0, 0%, 100%, 0.75);
    --white-stats: hsla(0, 0%, 100%, 0.6);
    --size-large: 1.7em;
    --size-medium-large: 1.4em;
    --size-normal: 1em;
    --border-radious-main: 10px;
}


*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-align: center;
    background-color: var(--dark-blue-main);
}

/* main, div, section... */


main{
    width: 63%;
    background-color: var(--dark-saturade-card);
    border-radius: var(--border-radious-main);
}

.image{
    width: 100%;
    height: calc(37px + 26vw);
    background-image: linear-gradient(hsla(277, 74%, 35%, 0.5), hsla(277, 74%, 35%, 0.5)),  url("./images/image-header-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: var(--border-radious-main) var(--border-radious-main) 0 0;

}

section{
    padding: 1.5rem;
}

.result{
    margin-bottom: 0;
    
}

/* h1, h2... p  */
 h1, .result p{
    color: var(--white);
    

 }

 h1{
    margin-top: 0;
    font-weight: 700;
    font-size: var(--size-large);
 }



h2{
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--white-stats);
    font-size: var(--size-normal);
    margin-top: 0;
}

.queries{
    margin-bottom: 0;
}

p{
    color: var(--white-p);
    font-size: var(--size-normal);
    font-weight: 400;
    
}

section > p{
    line-height: 1.5;
}

.result p {
    margin-bottom: 0.3rem;
    font-weight: 700;
    font-size: var(--size-medium-large);
}

/* image, svg, a, span... */

span{
    color: var(--soft-violet-accent);
}

@media (min-width: 800px){
    main{
        display: flex;
        flex-direction: row-reverse;
        text-align: left;
        width: 94%;
        max-width: 990px;
        --size-normal: 0.92em;
    }
    .image{
        width: 50%;
        background-image: linear-gradient(hsla(277, 74%, 35%, 0.5), hsla(277, 74%, 35%, 0.5)),  url("./images/image-header-desktop.jpg");
        height: calc(37px + 40vw);
    }
    section{
        width: 50%;
        padding: 2rem 5rem 2rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .result{
        display: flex;
        justify-content: space-between;
        
    }
    h1{
        margin-top: 0;
    }
    h2{
        margin-bottom: 0;
    }
    .text p {
        line-height: 1.5;
    }
}

@media (min-width: 950px) {
    main{
        width: 94%;
    }
    .image{
        max-height: 350px;
    }
    section{
        padding: 3rem 8rem 3rem 3rem;
        justify-content: space-between;
    }
 
}